.login-wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-header {
    margin-bottom: 20px;
    h2 {
      font-size: 20px;
      line-height: 20px;
      color: #ffffff;
      text-align: center;
    }
  }

  .form-warp {
    width: 300px;

    .login-form-button {
      width: 100%;
    }
  }
}
