.product-input {
  width: 15% !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.product-status {
  display: flex;
  justify-content: center;
  min-width: 110px;
  line-height: 32px;
}
.product-operation {
  display: flex;
}
